html, body{
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(to bottom right, #0D0D0D, #000000); */
    background: #000;
}

.content{
    /* width: 834px;
    height: 1112px; */
    height: 100vh;
    width: 100%;
    /* border-radius: 4px;
    margin: 50px auto 50px auto; */
}

.element-box.weather, .element-box.climate{
    margin-bottom: 20px;
}

.headline{
    height: 30px;
    background: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

.element-content{
    margin-top: 1px;
    background: rgba(255,255,255,0.2);
    color: #fff;
    padding: 10px;
    font-weight: 100;
    display: grid;
}

.weather-hour{
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #000;
}

.weather-hour:last-of-type{
    border-right: none;
}

.wh-date-wrapper span{
    font-weight: 400;
    float: right;
}

.wh-date-wrapper{
    font-size: 18px;
    height: 26px;
    padding: 0 10px;
}

.wh-date-wrapper .row div{
    text-align: center;
}

.wh-date-max{

}

.wh-date-min{
    color: rgba(255,255,255,0.75);
}

.wh-date-icon{
    font-size: 30px;
    margin-top: -3px;
    line-height: 20px;
}

.wh-date-wrapper .row div:first-child{
    text-align: left;
}

.wh-date-wrapper .row div:last-child{
    font-size: 14px;
    line-height: 26px;
    text-align: right;
}

.wh-time{
    font-size: 20px;
}

.wh-description{
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}

.wh-icon{
    font-size: 50px;
    margin: -5px 0 -10px 0;
}

.wh-degrees{
    font-size: 24px;
    font-weight: 400;
}

.weather .headline{
    background: linear-gradient(to left, rgba(81,45,168,0.8), #512da8);
}
.climate .headline{
    background: linear-gradient(to left, rgba(192,24,91,0.8), #c2185b);
}
.hue .headline{
    background: linear-gradient(to left, rgba(211,47,47,0.8), #d32f2f);
}
.calendar .headline{
    background: linear-gradient(to left, rgba(56,142,60,0.8), #388e3c);
    text-align: left;
    padding-left: 10px;
}

.cl-box{
    text-align: center;
}

.cl-icon{
    font-size: 30px;
}

.cl-text{
    margin-bottom: 4px;
}

.cl-data{
    font-size: 30px;
    font-weight: 400;
}

.cl-icon, .cl-text{
    color: rgba(255,255,255,0.75);
}

.hue-wrapper{
    text-align: center;
    margin: 10px 0;
}

.ph-color{
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 8px auto;
    font-weight: 100;
    border-radius: 60px;
    border: 1px solid rgba(255,255,255,0.25);
}

.ph-text{
    color: rgba(255,255,255,0.75);
    line-height: 16px;
    font-size: 14px;
}

.ph-text span{
    font-weight: 400;
    font-size: 16px;
}

.hue-wrapper.livingroom .ph-color{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) ), #FFE4B5;
}
.hue-wrapper.n-ceiling .ph-color{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) ), #FFFFE0;
}
.hue-wrapper.n-dresser .ph-color{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) ), #FFFFE0;
}
.hue-wrapper.n-window .ph-color{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) ), rgba(0,0,0,0.5);
}

.header{
    color: #fff;
    height: 134px;
    padding-top: 20px;
    font-weight: 100;
}

.header-right{
    text-align: right;
}

.header-date{
    font-size: 20px;
}

.header-time{
    font-size: 70px;
    margin-top: -15px;
}

.header-left{
    height: 94px;
    line-height: 94px;
}

.header-wh-degrees{
    font-size: 70px;
    display: inline-block;
    margin-right: 30px;
}

.header-wh-icon{
    font-size: 80px;
    display: inline-block;
}

.date-divider{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 16px;
    color: rgba(255,255,255,0.75);
    background: rgba(255,255,255,0.1);
    margin-top: 1px;
    font-weight: 100;
}

.dd-left, .dd-right{
    display: inline-block;
    text-transform: uppercase;
}

.dd-left{
    float: left;
}

.dd-right{
    float: right;
}

.calendar-white{
    font-size: 16px;
    display: inherit;
    height: 40px;
}

.ca-app, .ca-time{
    display: inline-block;
}

.ca-app{
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 22px;
    display: inline-block;
    max-width: 80%;
    white-space: nowrap;
}

.ca-time{
    float: right;
}

.hue-on, .hue-off{
    padding: 5px 10px;
    text-align: center;
    transition: 0.3s ease all;
}

.hue-on div, .hue-off div{
    padding: 10px;
    border-radius: 2px;
}

.hue-on:hover, .hue-off:hover{
    cursor: pointer;
}

.hue-on div{
    background: linear-gradient(to right, #52A856, #388e3c);
}

.hue-off div{
    background: linear-gradient(to right, #ed4949, #d32f2f);
}

span.headline-meta{
    position: absolute;
    right: 24px;
    font-size: 12px;
    font-style: italic;
}

.bulb-wrapper{
    text-align: center;
}

#loader{
    position: fixed;
    top: 0;
    background: rgba(255,255,255,0.25);
    color: #fff;
    width: 100px;
    text-align: center;
    padding: 5px 0px;
    margin-left: calc(50% - 50px);
    margin-right: 50%;
    left: 0;
    right: 0;
}

.content #loader{
    opacity: 0;
    top: -30px;
    transition: 0.3s ease all;
}

.content.loading-active #loader{
    opacity: 1;
    top: 0;
}

button{
    transition: 0.3s ease all;
}

.fdf-day{
    text-transform: uppercase;
}

.element-content.error{
    text-align: center;
}

.element-content.error i.fa{
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
}

.converted-icon{
    display: inline-block;
}

.m-b-10{
    margin-bottom: 10px;
}

.element-content.weather{
    padding: 0 10px;
}

.header-wh-meta{
    display: inline-block;
    margin-left: 50px;
}

.header-meta-text{
    line-height: 22px;
}

.calendar-app-wrapper{
    max-height: calc(100vh - 174px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.calendar-app-wrapper::-webkit-scrollbar, .hue-app-wrapper::-webkit-scrollbar{
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.hue-app-wrapper{
    /* max-height: calc(100vh - 788px); */
    height: calc(100vh - 840px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(255,255,255,0.2);
}

.hue-app-wrapper .element-content{
    background: none;
}

.hue-buttons .col-sm-6{
    background: rgba(255,255,255,0.2);
}

.hue-buttons button{
    margin-top: -4px;
    margin-bottom: 12px;
}

#wrapper .col-sm-5{
    padding-left: 8px;
}

#wrapper .col-sm-7{
    padding-right: 8px;
}